<div class="container-fluid" id="aboutUs">
    <div class="container px-4 py-5">
        <img src="../../../assets/icono_aboutUs.jpg" alt="" class="icono bi mb-5 mx-auto d-block">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-card-2"><img src="../../../assets/pedro.jpeg" class="img img-responsive">
                    <div class="profile-name">Pedro Delgado</div>
                    <div class="profile-username">Jefe de taller y servicio Postventa</div>
                    <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card-2"><img src="../../../assets/nico.jpg" class="img img-responsive">
                    <div class="profile-name">Brian Navarro</div>
                    <div class="profile-username">Mecánica general</div>
                    <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile-card-2"><img src="../../../assets/nico.jpg" class="img img-responsive">
                    <div class="profile-name">Nicolás Battistella</div>
                    <div class="profile-username">Administración</div>
                    <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                                class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
