<footer class="container py-4 my-0">
    <div class="row pt-5">
        <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">About</a></li>
            </ul>
        </div>

        <div class="col-6 col-md-2 mb-3">
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>

        <div class="col-md-5 offset-md-1 mb-3">
            <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                    <label for="newsletter1" class="visually-hidden">Email address</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                    <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</footer>
<div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-center ">
        <p class="m-5">© 2022 Agromecánica Delgado. All rights reserved.</p>
        <ul class="list-unstyled d-flex fa-3x redes">
            <li class="ms-3">
                <a class="link-dark" href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-dark" href="#">
                    <i class="fa-brands fa-google"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-dark" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>