<footer class="container py-4 my-0">
    <div class="row pt-5 mx-auto g-3">
        <div class="col-6 col-md-3 mb-3 mx-auto">

            <h5 class="text-uppercase fw-bold mb-4">
                <i class="fa-solid fa-tractor fa-2x px-2"></i>
                Agromecánica Delgado
            </h5>
            <p>Lorem ipsum dolor sit amet. Non facilis dolores in vero asperiores sit reprehenderit consequatur hic fuga
                internos sed deserunt ducimus. Et sint temporibus et officia accusamus qui dolor eaque vel optio
                repellendus aut deserunt recusandae aut labore obcaecati. Quo accusamus ducimus non quisquam modi ab
                voluptatibus atque et quaerat necessitatibus qui laborum voluptatem. Et dolorem magni a quia officia id
                voluptas ullam sed iusto voluptatem aut molestiae minima.</p>
        </div>

        <div class="col-6 col-md-3 mb-3 mx-auto">
            <h5 class="text-uppercase fw-bold mb-4">Contáctenos</h5>
            <p><i class="fas fa-home me-3 fa-2x"></i> Los Nogales 1222, Villa Nueva, Mendoza</p>
            <p>
                <i class="fas fa-envelope me-3 fa-2x"></i>
                info@agromecanicadelgado.com.ar
            </p>
            <p>
                <button type="button" data-togle="tooltip" data-placement="top" title="Presupuestos y Ventas"
                    data-animation="false"><i class="fa-solid fa-comments-dollar fa-2x"></i> +54 9 2617 63-4905</button>
            </p>
            <p>
                <button type="button" data-togle="tooltip" data-placement="top" title="Servicio Postventa"
                    data-animation="false"><i class="fa-brands fa-whatsapp fa-2x"></i> +54 9 2616 29-6470</button>
            </p>
        </div>

        <div class="col-md-3 offset-md-1 mb-3 mx-auto">
            <form>
                <h5 class="text-uppercase fw-bold mb-4">Suscribete a nuestro boletin</h5>
                <p>Para estar al tanto de las últimas novedades y ofertas</p>
                <div class="d-flex flex-column flex-sm-row w-75 gap-3">
                    <label for="newsletter1" class="visually-hidden">Dirección de Email</label>
                    <input id="newsletter1" type="text" class="form-control" placeholder="Dirección de Email">
                    <button class="btn btn-primary" type="button">Suscribete</button>
                </div>
            </form>
        </div>
    </div>
</footer>
<div class="container">
    <div class="d-flex flex-column flex-sm-row justify-content-center ">
        <p class="m-5">© 2022 Agromecánica Delgado. All rights reserved.</p>
        <ul class="list-unstyled d-flex fa-3x redes">
            <li class="ms-3">
                <a class="link-dark" href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-dark" href="#">
                    <i class="fa-brands fa-google"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="link-dark" href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</div>