footer {
    background-color: grey;
    max-width: 100%;
}

.redes {
    margin: 0.5em;
    justify-content: center;
}

a {
    color:black;
}

button {
    background-color: transparent;
    border: none;
}

.btn-primary {
    background-color: rgb(222, 222, 222);
    color: black;
}

i {
    padding-right: 1.5em;
}
