<div class="container-fluid" style="background-color: rgb(255, 255, 255);" id="services">
    <div class="container px-4 py-5" id="Servicios">
        <img src="../../../assets/icono_service.jpg" alt="" class="icono bi mb-5 mx-auto d-block">

        <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-5 py-5 cards">
            <div class="col d-flex align-items-start">
                <div class="card">
                    <div class="card-img-top my-3">
                        <img class="icono-columna mx-auto d-block" src="../../../assets/icono_servicio.jpg" alt="">
                    </div>
                    <div class="mt-4 text-center">
                        <h3 class="fw-bold mb-0 fs-4">Servicio de Reparación Integral</h3>
                        <p class="my-3">Reparación de todo tipo de tractores y maquinaria agrícola.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="card">
                    <div class="card-img-top my-3">
                        <img class="icono-columna mx-auto d-block" src="../../../assets/icono_repuestos.jpg" alt="">
                    </div>
                    <div class="mt-4 text-center">
                        <h3 class="fw-bold mb-0 fs-4">Venta de repuesto</h3>
                        <p class="my-3">Gran variedad de repuesto originales y alternativos.</p>
                    </div>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="card">
                    <div class="card-img-top my-3">
                        <img class="icono-columna mx-auto d-block" src="../../../assets/icono_postVenta.jpg" alt="">
                    </div>
                    <div class="mt-4 text-center">
                        <h3 class="fw-bold mb-0 fs-4">Servicio de Postventa</h3>
                        <p class="my-3">Trabajos garantidos...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
